html,
body {
  overflow: hidden;
  margin: 0;
}

.container {
  overflow: auto;
  height: 100%;
}

.container > .item:nth-child(even) {
  background-color: #87ea87;
}

.container > .item:nth-child(odd) {
  background-color: #87ccea;
}

.item {
  text-align: center;
  line-height: 256px;
  font-size: 128px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------------*/

.scroll-snapping {
  scroll-snap-type: y mandatory; /*proximity, mandatory*/
}

.scroll-snapping > .item {
  scroll-snap-align: canter; /*start, center, end*/
}
